.container
  center 960px 40px
  +mobile()
    center 960px 20px

.center-column
  column(2/3, offset: 1/6)
  +below(desktop-cutoff)
    stack()

.read-more
  font-knockout-28()
  font-size 20px
  letter-spacing 1px

  position absolute
  bottom 40px
  width 100%
  position: absolute
  z-index 7

  +below(desktop-cutoff)
    display none

  a
    display inline-block
    color white
    text-decoration none

  +mobile()
    bottom 20px
    font-size 15px

.background-video
  margin-top -(header-height)
  position fixed !important
  min-width 100%
  min-height 100%
  z-index -1

.text-center
  text-align center
.text-right
  text-align right
