.container
  center 960px 40px
  +mobile()
    center 960px 20px

// http://css-tricks.com/centering-in-the-unknown/
.vertical-ghost:before
  content ''
  display inline-block
  height 100%
  vertical-align middle

.vertical-center
  display inline-block
  vertical-align middle

.center-column
  column(2/3, offset: 1/6)
  +mobile()
    stack()

.read-more
  font-knockout-28()
  font-size 20px
  letter-spacing 1px

  position absolute
  bottom 40px
  width 100%
  position: absolute
  z-index 7

  a
    display inline-block
    color white
    text-decoration none

  +mobile()
    bottom 20px
    font-size 15px

.background-video
  margin-top -(header-height)
  position fixed !important
  min-width 100%
  min-height 100%
  z-index -1

.one-fourth
  column(1/4)
.three-fourths
  column(3/4)
.one-fourth,
.three-fourths
  +mobile()
    stack()


.text-center
  text-align center
.text-right
  text-align right
