.container {
  @include center(960px, $pad: 40px);

  @include breakpoint($mobile) {
    @include center(960px, $pad: 20px);
  }
}

.center-column {
  @include column(2/3, $offset: 1/6);
  @include breakpoint($mobile) {
    @include stack();
  }
}

.read-more {
  @include font-knockout();
  font-size: 20px;
  letter-spacing: 1px;

  position: absolute;
  bottom: 40px;
  width: 100%;
  position: absolute;
  z-index: 7;

  a {
    display: inline-block;
    color: $white;
    text-decoration: none;
  }

  @include breakpoint($mobile) {
    bottom: 20px;
    font-size: 15px;
  }
}

.background-video {
  margin-top: -$header-height;
  position: fixed !important;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.grid-13 {
  @include column(1/3);
}
.grid-23 {
  @include column(2/3);
}
.grid-13,
.grid-23 {
  @include breakpoint($mobile) {
    @include stack();
  }
}

.bbb-seal {
  opacity: 0.95;
  float: right;
  margin-top: 5px !important;

  @include breakpoint($mobile) {
    float: none;
    margin-top: 20px !important;
  }
}

.show-mobile {
  display: none;
  @include breakpoint($mobile) {
    display: block;
  }
}
.hide-mobile {
  display: block;
  @include breakpoint($mobile) {
    display: none;
  }
}
