orange = #f15d22

gray = #333
gray-light = #e6e6e6

white = #efefef
white-true = #fff

header-height = 60px

pattern-diagonal()
  image image-url('diagonal-pattern.png') 4px 4px
  background-color white-true

font-knockout-28()
  font-family 'Knockout 28 A', 'Knockout 28 B'
  font-weight 400
  font-style normal

font-sentinal()
  font-family 'Sentinel SSm A', 'Sentinel SSm B'
  font-weight 400
  font-style normal
