orange = #f15d22
gray = #333
graylight = #e6e6e6
white = #efefef
truewhite = #fff

header-height = 60px

pattern-diagonal() {
  image image-url('diagonal-pattern.png') 4px 4px
  background-color truewhite
}
