$orange: #f15d22;
$orange-dark: darken($orange, 10%);

$gray-dark: #222;
$gray: #333;
$gray-light: #999;
$gray-lighter: #ccc;

$white: #e6e6e6;
$white-true: #fff;

$red: #e52033;
$red-light: lighten($red, 10%);
$green: #40cd1d;
$yellow: #f1bc22;

$header-height: 60px;

$mobile: max-width 760px;

@mixin pattern-diagonal() {
  background: image-url('diagonal-pattern.png') 4px 4px $white-true;
}

@mixin font-knockout() {
  font-family: 'Knockout 48 A', 'Knockout 48 B';
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@mixin font-sentinal() {
  font-family: 'Sentinel SSm A', 'Sentinel SSm B';
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: auto;
  text-rendering: optimizeLegibility;
}
