orange = #f15d22
orangeDark = darken(orange, 15%)

grayDark = #222
gray = #333
grayLight = #999
grayLighter = #ccc

white = #e6e6e6
whiteTrue = #fff

red = #e52033
green = #40cd1d
yellow = #f1bc22

header-height = 60px

pattern-diagonal()
  image image-dir('diagonal-pattern.png') 4px 4px
  background-color whiteTrue

font-knockout()
  font-family 'Knockout 48 A', 'Knockout 48 B'
  font-weight 400
  font-style normal
  font-smoothing antialiased
  text-rendering optimizeLegibility

font-sentinal()
  font-family 'Sentinel SSm A', 'Sentinel SSm B'
  font-weight 500
  font-style normal
  font-smoothing auto
  text-rendering optimizeLegibility
