video autoplay=true loop=true class='background-video' class='video-js' data-fallback-image='/images/noir-typewriter.jpg'
  source src='/videos/noir-loop.webm' type='video/webm'
  source src='/videos/noir-loop.mp4' type='video/mp4'
