input[type="text"],
input[type="email"],
input[type="phone"],
textarea
  width 100%
  border none
  outline none
  padding 10px
  margin 5px 0 20px

textarea
  resize none

input[type="submit"]
  pattern-diagonal()
  border none
  padding 10px 20px
  margin-top 20px

  font-knockout-28()
  font-size 25px

label
  color white
