.section
  padding 40px 0
  position relative

  .container
    position relative
    z-index 5

  *:first-child
    margin-top 0

.section-gray
  @extend .section
  background grayDark
  background rgba(grayDark, 0.95)
  color white
  a
    color inherit

.section-white
  @extend .section
  pattern-diagonal()

.section-orange
  @extend .section
  background orangeDark
  background rgba(orangeDark, 0.95)
  color white

  h2, h3, a
    color white

.section-full, & .container
  height 100%
