.section
  padding 40px 0
  position relative

  .container
    position relative
    z-index 5

  *:first-child
    margin-top 0

.section-gray
  @extend .section
  background grayDark
  color white
  text-align center

  &:after
    fullsize-after()
    background image-url('noir-typewriter.jpeg')
    opacity 0.05

.section-white
  @extend .section

.section-orage
  @extend .section
  background orange

  &:after
    fullsize-after()
    background image-url('noir-typewriter.jpeg')
    opacity 0.05

  h2
    color white

.section-full, & .container
  height 100%
