.section
  padding 40px 0
  position relative

  .container
    position relative
    z-index 5

  *:first-child
    margin-top 0

.section-gray
  @extend .section
  background image-url('color-gray.png')
  background rgba(grayDark, 0.95)
  color white
  a
    color inherit

.section-white
  @extend .section
  pattern-diagonal()

.section-orange
  @extend .section
  background image-url('color-orange.png')
  background rgba(orangeDark, 0.95)
  color white

  h2, h3, a
    color white

.section-full
  min-height 100%

.section-vertical-center
  &, & .container
    height 100%

  .container
    // http://css-tricks.com/centering-in-the-unknown/
    &:before
      content ''
      display inline-block
      height 100%
      vertical-align middle

    .vertical-content
      display inline-block
      vertical-align middle
