.service
  column(1/2, cycle: 2)
  margin-top 20px

  +mobile()
    stack()
    float none !important
    margin-top 10px

  .service-icon
    column(1/5 1/2)
    padding-top 5px

  .service-content
    column(4/5 1/2)
